.content {
    width: 700px;
    height: 400px;
}

.innerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
}

.cover1 {
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
}

.cover2 {
    height: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.title {
    margin-top: 48px;
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;

    text-align: center;
}

.desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    text-align: center;
}

.btnContent {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.btnInnerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateZ(20px);
}

.label {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
}

.firstBtn {
    cursor: pointer;
    margin-top: 12px;

    width: 240px;
    height: 45px;

    background: unset;

    border: 1px solid #9176FF;
    border-radius: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #9176FF;
}

.secondBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    margin-top: 12px;

    width: 240px;
    height: 45px;
    background: #9176FF;
    border: 1px solid #9176FF;
    border-radius: 10px;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.thirdBtn {
    cursor: pointer;
    margin-top: 50px;

    width: 264px;
    height: 53px;
    left: 218px;
    top: 310px;

    background: #1958FA;
    border-radius: 10px;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.firstBtn:hover, .secondBtn:hover, .thirdBtn:hover {
    opacity: 0.8;
}