.content {
    margin-top: 112px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerContent {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.phone {
    cursor: pointer;

    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 30px;

    width: 340px;
    background: #F5FAFF;
    backdrop-filter: blur(4px);

    border-radius: 20px;

    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #1958FA;
}

@media all and (max-width: 1160px) {
    .content {
        margin-top: 80px;
    }

    .innerContent {
        gap: 20px;

        flex-direction: column;
        align-items: center;
    }

    .phone {
        display: flex;
        justify-content: center;

        height: 58px;

        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }
}