.area {
    display: flex;
    align-items: center;

    height: 90px;
    padding: 10px 20px;

    background: #FFFFFF;
    border-radius: 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;

    border: none;
    outline: unset;
}

.area::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;


    color: #C4C4C4;
}