.content {
    width: 100%;

    position: fixed;
    left: 0;

    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;
    transform: translateZ(10px);
}

.innerContent {
    display: flex;
    justify-content: space-between;

    padding: 25px 0;
}

.routes_content {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

.route {
    cursor: pointer;
}
/*.route:hover {*/
/*    font-weight: 700;*/
/*    color: #161616;*/
/*}*/