.content {
    position: relative;
}

.innerContent {
    margin-top: 112px;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s all;
}

.cover {
    position: absolute;
    top: 74px;
    left: 0;
    z-index: -1;
}

.cover2 {
    position: absolute;
    top: 900px;
    right: 0;
    z-index: -1;
}

.tabsContent {
    margin-top: 58px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    column-gap: 75px;
}