.content {
    position: relative;
    width: 100%;
    padding: 30px;
}

.timesContent {
    padding: 0 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.time {
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}

.innerContent {
    padding: 0 30px;
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.item {
    overflow: hidden;
    height: 135px;
    background: #D7C4FF;
    border-radius: 8px;
}

.itemContent {
    width: 100%;
    height: 100%;
    padding: 15px;
}

.avatarContent {
    display: flex;
}

.avatarContent img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
}

.avatarContent img:nth-child(2) {
    margin-left: -22px;
}

.avatarContent img:nth-child(3) {
    margin-left: -22px;
}

.itemTitle {
    margin-top: 15px;
    width: 100%;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.itemDesc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;

    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}