.content {
    margin-top: 112px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerContent {
    margin-top: 50px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 1160px) {
    .content {
        margin-top: 80px;
    }

    .innerContent {
        margin-top: 15px;
        flex-direction: column;
        gap: 30px;
    }
}