.content {
    width: 100%;
    padding-top: 50px;

    position: relative;
}

.right_cover {
    position: absolute;
    height: 700px;
    top: 0;
    right: 0;
}

.left_cover {
    width: 410px;
    height: 410px;

    position: absolute;
    top: -100px;
    left: -80px;
}

.center_cover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    height: 260px;
}

.inner_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 500px;
    transform: translateZ(1px);
    padding-left: 60px;
}

.desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #161616;
}

.btn_content {
    margin-top: 56px;
    width: 255px;
}

@media all and (max-width: 1160px) {
    .right_cover {
        width: 180px;
    }

    .left_cover {
        width: 108px;
        height: 108px;
        top: auto;
        left: 0;
        bottom: 100px;
    }

    .center_cover {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        transform: unset;
    }

    .inner_content {
        padding-top: 70px;

        padding-left: 26px;
        padding-right: 26px;

        display: flex;
        flex-direction: column;
        height: auto;
    }

    .desc {
        margin-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    .btn_content {
        margin-top: 25px;
        width: 100%;
        padding: 0 10px;
    }
}