


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'CoFoSans', sans-serif;
}

* {
  font-family: 'CoFoSans', sans-serif;
  color: #161616;
}

h1 {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #161616;
}

h2 {
  text-transform: uppercase;

  font-weight: 500;
  font-size: 40px;
  line-height: 56px;
  color: #161616;
}

.center {
  margin: auto;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../public/icons/ic_calendar.png");
  opacity: 1;
  display: block;
  width: 20px;
  height: 20px;
  color: blue;
}

input[type="checkbox"] {
  /* ...existing styles */
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}


@media all and (max-width: 1160px) {
  h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

}