


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'CoFoSans', sans-serif;
}

* {
  font-family: 'CoFoSans', sans-serif;
}

.center {
  margin: auto;
  text-align: center;
}